{% extends 'speedu_tutor/HTMLbase.html' %}

{% load static %}

{% block navbar %}{% endblock %}

{% block class_body %}
  login-page
{% endblock %}

{% block navs %}{% endblock %}

{% block content %}
  <div class="login-box">
    <div class="logo">
        <a href="javascript:void(0);">Speed<b>U</b></a>
        <small>Tutorias a tu alcance</small>
    </div>
    <div class="card">
        <div class="body">
            <form id="sign_in" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="msg">Ingresa para empezar</div>
                {% if form.errors %}
                    <div class="alert alert-danger">
                      Usuario o contraseña incorrectos.
                    </div>
                {% endif %}
                {% if next %}
                  <div class="alert alert-warning">
                    {% if user.is_authenticated %}                    
                        No tienes acceso a esta página. Ingresa con una cuenta que tenga acceso. 
                    {% else %}
                        Por favor ingresa para ver esta pagina.
                    {% endif %}
                  </div>                
                {% endif %}              
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line {% if form.errors %}error{%endif%}">
                        <input type="text" class="form-control" name="username" placeholder="Usuario" required autofocus
                        {% if form.username.value %} value="{{ form.username.value }}" {% endif %}>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line {% if form.errors %}error{%endif%}">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña" required
                        {% if form.password.value %} value="{{ form.password.value }}" {% endif %}>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 p-t-5">
                        <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                        <label for="rememberme">Recuerdame</label>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-block bg-pink waves-effect" type="submit">INGRESA</button>
                    </div>
                </div>
                <div class="row m-t-15 m-b--20">
                    <div class="col-xs-7">
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
 <!-- Validation Plugin Js -->
 <script src="{% static 'speedu_tutor/plugins/jquery-validation/jquery.validate.js' %}"></script>

 <!-- custom js -->
 <script src="{% static 'speedu_tutor/js/pages/login/sign-in.js' %}"></script>
{% endblock %}