{% extends 'mainpage/HTMLbase.html' %}
{% load static %}

{% block content %}
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb_iner text-center">
                  <div class="breadcrumb_iner_item">
                      <h2>Ofrecemos la mejor experienca en tutorias</h2>
                      <p>Inicio<span>/</span>Empezar</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- breadcrumb end-->

<!-- form bussines start -->
<section class="pt-5 pb-5 px-3" id="">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-8">
        <div class="row">
          <div class="col-12">
            <h2 class="text-center">Registrese para comenzar</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <form class="form-contact" action="{% url 'get-started' %}" method="post">
              {% csrf_token %}
              {% if form.errors %}
                <p class="p-1 bg-danger text-center rounded text-white">                  
                    Por favor, complete o corrija los campos
                </p>
              {% endif %}
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="input-group mt-3">
                    {{ form.name.label_tag }}
                    <input id="id_name" type="text" class="form-control w-100 {% if form.name.errors %}border-danger{% endif %}" 
                    name="name" placeholder="Ingrese sus nombres" 
                     onfocus="this.placeholder = ''" onblur="this.placeholder='Ingrese sus nombres'">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="input-group mt-3">
                    {{ form.lastname.label_tag }}
                    <input id="id_lastname" type="text" name="lastname"
                    class="form-control w-100 {% if form.lastname.errors %}border-danger{% endif %}"
                    placeholder="Ingrese sus apellidos"  onfocus="this.placeholder=''"
                    onblur="this.placeholder='Ingrese sus apellidos'">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="input-group mt-3">
                    {{ form.email.label_tag }}
                    <input id="id_email" type="email" name="email" 
                    class="form-control w-100 {% if form.email.errors %}border-danger{% endif %}" 
                    placeholder="Ingrese su email"  onfocus="this.placeholder=''" 
                    onblur="this.placeholder='Ingrese su correo'">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="input-group mt-3">
                    {{ form.phone.label_tag }}
                    <input id="id_phone" type="text" name="phone" 
                    class="form-control w-100 {% if form.phone.errors %}border-danger{% endif %}" 
                    placeholder="Ingrese su teléfono o celular"  onfocus="this.placeholder=''" 
                    onblur="this.placeholder='Ingrese su teléfono o celular'">
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-group mt-3">
                    <label>Localidad</label>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-6 p-0 pr-2">
                          <select id="id_departament" 
                          class="form-control w-100 {% if form.departament.errors %}border-danger{% endif %}" 
                          name="departament" onchange="get_departament_cities()" >
                            {% for option in form.departament %}
                                {{ option }}
                            {% endfor %}
                          </select>
                        </div>
                        <div class="col-6 p-0">
                          <select class="form-control w-100 {% if form.city.errors %}border-danger{% endif %}"
                          name="city" id="id_city" >
                            <option value="">-- Elija departamento --</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-group mt-3">
                    {{ form.institution.label_tag }}
                    <input id="id_institution" type="text" name="institution" 
                    class="form-control w-100 {% if form.institution.errors %}border-danger{% endif %}" 
                    placeholder="Ingrese su institución" onfocus="this.placeholder=''" 
                    onblur="this.placeholder='Ingrese su institución'">
                  </div>
                </div>
                  <div class="col-12">
                    <div class="input-group mt-3 d-flex">
                      <div class="primary-checkbox mt-1 mr-2">
                        <input type="checkbox" name="terms" id="id_terms" >
                        <label for=""></label>
                      </div>
                      <label for="id_terms" class="mb-2">Acepto el <u><a href="javascript:void(0);" style="color: #ff663b !important;"> acuerdo general del servicio</a></u></label>
                    </div>
                  </div>
              </div>
              <div class="input-group mt-3">
                <button type="submit" name="submit" class="button button-contactForm btn_1 btn-block">Registrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- form bussines end -->

{% endblock %}

{% block scripts %}
  <script src="{% static 'mainpage/js/prototype.js' %}"></script>
{% endblock %}